<%- include("_header") -%>

<h1>법인카드 관리대장 (<%= model.length %>)</h1>


<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>사용일</th>
        <th>사용자</th>
        <th>내역</th>
        <th>금액</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create">Add</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const card of model) { %>
        <tr>
          <td><%= moment(card.date_of_use).format('YY-MM-DD HH:mm') %></td>
          <td><%= card.user %></td>
          <td><%= card.where_to_use %></td>
          <td><%= card.amount %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>




